* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 40vw;
    margin: 2rem;
    padding: .3rem;
    
}

.header {
    border-bottom: .7rem solid #000;
}
.small {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.amounts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #000;
    
}

.content {
    display: flex;
    justify-content: space-between;
}

.first {
    width: 60%;
}

.second, .third {
    width: 15%;
    display: flex;
    justify-content: flex-end;
}

.indendet {
    margin-left: 1rem;
    border-top: 3px solid darkgray;
}

.indendet .first {
    width: 58%;
}

.daily-value {
    display: flex;
    justify-content: flex-end;
    border-top: .3rem solid black;
    border-bottom: .2rem solid darkgray;
}

.borders {
    border-top: 3px solid darkgray;
    border-bottom: 2px solid darkgray;
}

.border-bottom {
    border-bottom: 3px solid darkgray;
}

.border-bottom-xl {
    border-bottom: .5rem solid #000;
}

.border-bottom-black {
    border-bottom: .1rem solid #000;
}

.border-bottom-light {
    border-bottom: .1rem solid darkgrey;
}

.footnote {
   display: flex;
   align-content: center;
   font-size: x-small;
}

table {
    font-size: x-small;
    border-collapse: collapse;
}

table tr td.td-indendet {
   padding-left: 1em;
}

td, th {
    text-align: left;
}

.small-text {
    font-size: x-small;
}

.footer {
    font-size: x-small;
    display: flex;
    justify-content: center;
}

.footer span {
    margin: 0 .8em;
}